include ./config.pug
include ./helpers.pug

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		link(href="/css/bootstrab.css" rel="stylesheet")
		link(href="/css/app.css" rel="stylesheet")
		- var slug = ''
		block head
	body
		block layout

		// Scripts
		script(src="/assets/js/jquery.js")
		script(src="/assets/js/jquery-ui.js")
		script(src="/assets/js/popper.js")
		script(src="/assets/js/bootstrap.js")
		script(src="/js/app.js" type="module")
		block scripts