.password-container {
	position: relative;
	width: 100%;

	.password-container::after {
		content: '👁️‍🗨️';
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		user-select: none;
		opacity: 0.5;
	}
	
	.password-container.show-password::after {
		content: '👁️‍🗨️';
		opacity: 1;
	}

}

[type="password"] {
	padding: 10px;
	padding-right: 40px;
	font-size: 16px;
}