@use 'sass:map';

.rate-stars-container {
	img {
		cursor: pointer;
	}
}

.review-card {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	padding: 0;
	border: 1px solid map.get($grey, 300);
	border-radius: 5px;

	@media screen and (max-width: 797px) {
		flex-direction: column;
		margin: 10px auto;
	}

	.company-info {
		padding: 16px;
	}

	.review {
		padding: 16px;
		border: 1px solid map.get($grey, 300);
		border-top: 0;
		border-bottom: 0;
	}

	.rate {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: map.get($primary, 100);
	}
}