footer.website-footer.pt-5
	.container
		.row 
			.col-2 
				img(src="/assets/images/logo.svg")
			.col 
				.footer-menu
					.title Entasher
					ul
						li
							a(href="#") About Us
						li
							a(href="#") Contact Us
						li
							a(href="#") Agencies
						li
							a(href="#") Projects
						li
							a(href="#") Clients
						li
							a(href="#") Privacy Policy
						li
							a(href="#") Terms and conditions
			.col 
				.footer-menu
					.title Support
					ul
						li
							a(href="#") Blog
						li
							a(href="#") Why Indoor Advertising
						li
							a(href="#") Why Outdoor Advertising
						li
							a(href="#") Submitting articles at Entasher.com
			.col 
				.footer-menu
					.title For Client
					ul
						li
							a(href="#") How it works
						li
							a(href="#") Explore
			.col 
				.footer-menu
					.title For Agency
					ul
						li
							a(href="#") How it works

	.spacing-11
	.newsletter-subscription
		.container
			.row.align-items-center
				.col
					h5.smaller.bold Newsletter Subscription
				.col
					.d-flex.gap-4.justify-content-center
						input(class="form-control" type="text" name="email" placeholder="Your E-mail")
						input(class="form-control" type="text" name="name" placeholder="Your Name")
				.col
					.d-flex.gap-3 
						div
							input(type="radio" name="type")
							label Agency
						div
							input(type="radio" name="type")
							label Client
						div
							button.btn.btn-primary Subscribe
	.spacing-8
	.container
		.d-flex.align-items-center.justify-content-between.py-4
			.social 
				ul.list-unstyled.d-flex.gap-2
					li
						a(href="#")
							img(src="/assets/images/website/footer/facebook.svg")
					li
						a(href="#")
							img(src="/assets/images/website/footer/twitter.svg")
					li
						a(href="#")
							img(src="/assets/images/website/footer/instagram.svg")
					li
						a(href="#")
							img(src="/assets/images/website/footer/youtube.svg")
					li
						a(href="#")
							img(src="/assets/images/website/footer/in.svg")
	
			h5.smaller All rights reserved to Entasher &#169; 2022